src/main/resources/schemas/TARR.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProjectXml" nillable="true" type="ProjectXml" />
  <xs:complexType name="ProjectXml">
    <xs:complexContent mixed="false">
      <xs:extension base="TARRBaseXml">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ProjectName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="User" type="LoggedInUser" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProjectFolder" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DataFolders" type="ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="AnalysisSoftware" type="AnalysisSoftwareXmlTARR" />
          <xs:element minOccurs="0" maxOccurs="1" name="LociCount" type="CountWithAnalyzed" />
          <xs:element minOccurs="0" maxOccurs="1" name="SampleCount" type="CountWithAnalyzed" />
          <xs:element minOccurs="0" maxOccurs="1" name="Samples" type="ArrayOfSampleXml" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TARRBaseXml" />
  <xs:complexType name="SampleXml">
    <xs:complexContent mixed="false">
      <xs:extension base="TARRBaseXml">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Mappability" type="SampleStatsTARR" />
          <xs:element minOccurs="1" maxOccurs="1" name="SequencingType" type="SequencingPlatform" />
          <xs:element minOccurs="0" maxOccurs="1" name="Files" type="ArrayOfString1" />
          <xs:element minOccurs="0" maxOccurs="1" name="Loci" type="ArrayOfLocusTARR" />
          <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="ArrayOfCommentTARR" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SampleStatsTARR">
    <xs:attribute name="AcceptedReads" type="xs:int" use="required" />
    <xs:attribute name="UsedReads" type="xs:int" use="required" />
    <xs:attribute name="TotalReads" type="xs:int" use="required" />
    <xs:attribute name="PercentageUsed" type="xs:double" use="required" />
  </xs:complexType>
  <xs:simpleType name="SequencingPlatform">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Illumina" />
      <xs:enumeration value="IonTorrent" />
      <xs:enumeration value="PacBioConsensus" />
      <xs:enumeration value="PacBioSubreads" />
      <xs:enumeration value="OxfordNanopore" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfString1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLocusTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Locus" nillable="true" type="LocusTARR" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocusTARR">
    <xs:complexContent mixed="false">
      <xs:extension base="LocusComponents">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ReviewList" type="ApprovalList" />
          <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="ArrayOfCommentTARR" />
          <xs:element minOccurs="0" maxOccurs="1" name="PreferredAnalysisRegionsQualityMetrics" type="ArrayOfRegionQM" />
          <xs:element minOccurs="0" maxOccurs="1" name="TotalLocusQualityMetrics" type="LocusTotal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocusComponents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SampleName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="User" type="LoggedInUser" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mappability" type="SampleStatsTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReadLength" type="NumbersCollectionTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReadDepth" type="NumbersCollectionTARR" />
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="QuestionMarkPositions" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UncalledPositions" type="xs:string" />
      </xs:choice>
      <xs:element minOccurs="1" maxOccurs="1" name="PhasingRegions" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="NumberOfGenotypes" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="AlleleDB" type="ReferenceLibraryXmlTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="Haplotypes" type="ArrayOfChoice1" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnnotatedAlleles" type="ArrayOfAnnotatedAllele" />
      <xs:element minOccurs="0" maxOccurs="1" name="Matching" type="MatchingTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="TypingResult" type="TypingXMLTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="TypingResultThreeFields" type="TypingXMLTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="TypingResultTwoFields" type="TypingXMLTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="TypingResultPGroup" type="TypingXMLTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="TypingResultGGroup" type="TypingXMLTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="TypingResultOptimized" type="OptimizedTypingXMLTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnalysisSoftware" type="AnalysisSoftwareXmlTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnalysisSettings" type="AnalysisSettingsXmlTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="Edits" type="ArrayOfChoice2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoggedInUser">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="DateTime" type="xs:string" />
    <xs:attribute name="Level" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="NumbersCollectionTARR">
    <xs:attribute name="Minimum" type="xs:int" use="required" />
    <xs:attribute name="Maximum" type="xs:int" use="required" />
    <xs:attribute name="Median" type="xs:int" use="required" />
    <xs:attribute name="Mean" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ReferenceLibraryXmlTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Gene" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Release" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NrAlleles" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Length" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Regions" type="ArrayOfRegionWithID" />
      <xs:element minOccurs="0" maxOccurs="1" name="PriorityRegions" type="ArrayOfRegion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRegionWithID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Region" nillable="true" type="RegionWithID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegionWithID">
    <xs:complexContent mixed="false">
      <xs:extension base="Region">
        <xs:attribute name="ID" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Region">
    <xs:attribute name="begin" type="xs:int" use="required" />
    <xs:attribute name="beginGap" type="xs:string" />
    <xs:attribute name="end" type="xs:int" use="required" />
    <xs:attribute name="endGap" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="RegionWithIDAndSequence" mixed="true">
    <xs:complexContent mixed="false">
      <xs:extension base="RegionWithID" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Haplotype">
    <xs:complexContent mixed="true">
      <xs:extension base="RegionWithIDAndSequence" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HaploTypesOld">
    <xs:complexContent mixed="true">
      <xs:extension base="Haplotype" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Region" nillable="true" type="Region" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="Haplotype" nillable="true" type="Haplotype" />
      <xs:element minOccurs="1" maxOccurs="1" name="Haplotypes" nillable="true" type="HaploTypesOld" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfAnnotatedAllele">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnnotatedAllele" nillable="true" type="AnnotatedAllele" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnnotatedAllele">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AlleleSequence" type="AlleleSequence" />
      <xs:element minOccurs="1" maxOccurs="1" name="Extended" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Mismatches" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Features" type="ArrayOfFeature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlleleSequence">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Description" type="xs:string" />
        <xs:attribute name="Match" type="xs:string" />
        <xs:attribute name="ExonMismatches" type="xs:int" use="required" />
        <xs:attribute name="IntronMismatches" type="xs:int" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfFeature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feature" nillable="true" type="Feature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Feature">
    <xs:attribute name="location" type="xs:string" />
    <xs:attribute name="Number" type="xs:string" />
    <xs:attribute name="Key" type="xs:string" />
    <xs:attribute name="Gene" type="xs:string" />
    <xs:attribute name="Organism" type="xs:string" />
    <xs:attribute name="Codon_start" type="xs:string" />
    <xs:attribute name="Product" type="xs:string" />
    <xs:attribute name="Allele" type="xs:string" />
    <xs:attribute name="Moltype" type="xs:string" />
    <xs:attribute name="Translation" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MatchingTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Matches" type="ArrayOfMatch" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Matchset" type="MatchsetTARR" />
    </xs:sequence>
    <xs:attribute name="Message" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HaplotypeCombination" type="ArrayOfHaplotypeID" />
    </xs:sequence>
    <xs:attribute name="ID" type="xs:string" />
    <xs:attribute name="phasing" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfHaplotypeID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HaplotypeID" nillable="true" type="HaplotypeID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HaplotypeID">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MatchsetTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchCombination" type="MatchCombinationTARR" />
    </xs:sequence>
    <xs:attribute name="ID" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MatchCombinationTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchID" type="MatchIDTARR" />
    </xs:sequence>
    <xs:attribute name="PriorityMM" type="xs:int" use="required" />
    <xs:attribute name="NonPriorityMM" type="xs:int" use="required" />
    <xs:attribute name="ExonMM" type="xs:int" use="required" />
    <xs:attribute name="IntronMM" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="MatchIDTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mismatch" type="MismatchTARR" />
    </xs:sequence>
    <xs:attribute name="Phasing" type="xs:string" />
    <xs:attribute name="RefAllele" type="xs:string" />
    <xs:attribute name="PriorityMM" type="xs:int" use="required" />
    <xs:attribute name="NonPriorityMM" type="xs:int" use="required" />
    <xs:attribute name="ExonMM" type="xs:int" use="required" />
    <xs:attribute name="IntronMM" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="MismatchTARR">
    <xs:attribute name="index" type="xs:int" use="required" />
    <xs:attribute name="IMGT" type="xs:string" />
    <xs:attribute name="refAllele" type="xs:string" />
    <xs:attribute name="extrapolated" type="xs:string" />
    <xs:attribute name="base" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="TypingXMLTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GenoTypeList" type="GenotypeListXMLTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="GenotypeRanking" type="GenotypeRankingXMLTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="NMDPCodes" type="NMDP_Codes" />
      <xs:element minOccurs="0" maxOccurs="1" name="GLString" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="Message" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="GenotypeListXMLTARR">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="Genotype" type="Genotype" />
        <xs:element minOccurs="0" maxOccurs="1" name="Genotypes" type="GenotypeV2_12" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Count" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="Genotype">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="allele" type="AlleleTARR" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlleleTARR">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="PriorityMM" type="xs:int" use="required" />
        <xs:attribute name="NonPriorityMM" type="xs:string" />
        <xs:attribute name="ExonMM" type="xs:int" use="required" />
        <xs:attribute name="IntronMM" type="xs:string" />
        <xs:attribute name="CWD" type="xs:string" />
        <xs:attribute name="PGroup" type="xs:string" />
        <xs:attribute name="GGroup" type="xs:string" />
        <xs:attribute name="Serology" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GenotypeV2_12">
    <xs:complexContent mixed="false">
      <xs:extension base="Genotype" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenotypeRankingXMLTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Genotypes" type="RankingGenotypesXMLTARR" />
    </xs:sequence>
    <xs:attribute name="Message" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="RankingGenotypesXMLTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alleles" type="Genotype" />
    </xs:sequence>
    <xs:attribute name="Message" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="NMDP_Codes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="allele_1" type="NMDPAlleleXml" />
      <xs:element minOccurs="0" maxOccurs="1" name="allele_2" type="NMDPAlleleXml" />
    </xs:sequence>
    <xs:attribute name="TableDate" type="xs:string" />
    <xs:attribute name="Nomenclature" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="NMDPAlleleXml">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OptimizedTypingXMLTARR">
    <xs:complexContent mixed="false">
      <xs:extension base="TypingXMLTARR">
        <xs:attribute name="Resolutions" type="OptimizedTypingResolutionFlow" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OptimizedTypingResolutionFlow">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="4-3" />
      <xs:enumeration value="4-3-2" />
      <xs:enumeration value="4-3-2-P" />
      <xs:enumeration value="4-3-2-P-G" />
      <xs:enumeration value="4-3-2-G" />
      <xs:enumeration value="4-3-2-G-P" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AnalysisSoftwareXmlTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Software" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnalysisSettingsXmlTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AmpliconMethod" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnalysisRegion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IgnoreRegions" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhasingMethod" type="PhasingMethod" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReadTrimmer" type="ReadTrimmer" />
      <xs:element minOccurs="1" maxOccurs="1" name="ApplyCWDList" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhasingMethod">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="MinimumReadDepth" type="xs:int" use="required" />
        <xs:attribute name="AlleleRatioThreshold" type="xs:int" use="required" />
        <xs:attribute name="NoiseThreshold" type="xs:int" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ReadTrimmer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Settings" type="ReadTrimmerSettings" />
      <xs:element minOccurs="0" maxOccurs="1" name="Result" type="ReadTrimmerResult" />
    </xs:sequence>
    <xs:attribute name="Applied" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ReadTrimmerSettings">
    <xs:attribute name="RelativeThreshold" type="xs:int" use="required" />
    <xs:attribute name="AbsoluteThreshold" type="xs:int" use="required" />
    <xs:attribute name="WindowSize" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ReadTrimmerResult">
    <xs:attribute name="NucleotidePercentageAfterTrimming" type="xs:double" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice2">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="SingleBaseEdit" nillable="true" type="EditSingleBaseXml" />
      <xs:element minOccurs="1" maxOccurs="1" name="GenotypeEdit" nillable="true" type="EditGenotypeXml" />
      <xs:element minOccurs="1" maxOccurs="1" name="PhasingEdit" nillable="true" type="EditPhasingXml" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="EditSingleBaseXml">
    <xs:complexContent mixed="false">
      <xs:extension base="EditXml">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EditStatistics" type="EditSingleBaseStatisticsXml" />
        </xs:sequence>
        <xs:attribute name="position" type="xs:string" />
        <xs:attribute name="originalBases" type="xs:string" />
        <xs:attribute name="fromBases" type="xs:string" />
        <xs:attribute name="toBases" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EditXml">
    <xs:attribute name="user" type="xs:string" />
    <xs:attribute name="datetime" type="xs:string" />
    <xs:attribute name="action" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="EditGenotypeXml">
    <xs:complexContent mixed="false">
      <xs:extension base="EditXml">
        <xs:attribute name="allele" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EditPhasingXml">
    <xs:complexContent mixed="false">
      <xs:extension base="EditXml">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EditStatistics" type="EditPhasingStatisticsXml" />
        </xs:sequence>
        <xs:attribute name="leftPosition" type="xs:string" />
        <xs:attribute name="rightPosition" type="xs:string" />
        <xs:attribute name="leftBases" type="xs:string" />
        <xs:attribute name="rightBases" type="xs:string" />
        <xs:attribute name="haplotype1" type="xs:string" />
        <xs:attribute name="haplotype2" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EditPhasingStatisticsXml">
    <xs:attribute name="distance" type="xs:int" use="required" />
    <xs:attribute name="countHaplotype1" type="xs:int" use="required" />
    <xs:attribute name="countHaploLeft1Right2" type="xs:int" use="required" />
    <xs:attribute name="countHaploLeft2Right1" type="xs:int" use="required" />
    <xs:attribute name="countHaplotype2" type="xs:int" use="required" />
    <xs:attribute name="countNoise" type="xs:long" use="required" />
    <xs:attribute name="phiCoeff" type="xs:double" use="required" />
  </xs:complexType>
  <xs:complexType name="EditSingleBaseStatisticsXml">
    <xs:attribute name="pctHI" type="xs:double" use="required" />
    <xs:attribute name="countA" type="xs:int" use="required" />
    <xs:attribute name="countC" type="xs:int" use="required" />
    <xs:attribute name="countT" type="xs:int" use="required" />
    <xs:attribute name="countG" type="xs:int" use="required" />
    <xs:attribute name="countUnknown" type="xs:int" use="required" />
    <xs:attribute name="countGap" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfWarning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Warning" nillable="true" type="Warning" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Warning">
    <xs:attribute name="Type" type="xs:string" />
    <xs:attribute name="Severity" type="xs:int" use="required" />
    <xs:attribute name="Message" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ApprovalList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" type="Approval" />
    </xs:sequence>
    <xs:attribute name="CurrentApprovalStatus" type="xs:string" />
    <xs:attribute name="Level" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Approval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="User" type="LoggedInUser" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnalysisSoftware" type="AnalysisSoftwareXmlTARR" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="Action" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfCommentTARR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="CommentTARR" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommentTARR">
    <xs:simpleContent>
      <xs:extension base="Comment" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Comment">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="UserName" type="xs:string" />
        <xs:attribute name="CredentialLevel" type="xs:string" />
        <xs:attribute name="DateTime" type="xs:string" />
        <xs:attribute name="Locus" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfRegionQM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegionQualityMetrics" nillable="true" type="RegionQM" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegionQM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InputData" type="InputData" />
      <xs:element minOccurs="0" maxOccurs="1" name="Noise" type="NoiseQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="Analysis" type="AnalysisQualityMetrics" />
    </xs:sequence>
    <xs:attribute name="region" type="xs:string" />
    <xs:attribute name="start" type="xs:int" use="required" />
    <xs:attribute name="end" type="xs:int" use="required" />
    <xs:attribute name="ampliconFraction" type="xs:float" use="required" />
    <xs:attribute name="analysisCoveredFraction" type="xs:float" use="required" />
    <xs:attribute name="analysisAmpliconFraction" type="xs:float" use="required" />
    <xs:attribute name="qmFraction" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="InputData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ReadDepth" type="ReadDepthQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReadCoverage" type="ReadCoverageQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="QVData" type="QVs" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReadDepthQMs">
    <xs:attribute name="minimum" type="xs:int" use="required" />
    <xs:attribute name="maximum" type="xs:int" use="required" />
    <xs:attribute name="average" type="xs:int" use="required" />
    <xs:attribute name="median" type="xs:int" use="required" />
    <xs:attribute name="sd" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="ReadCoverageQMs">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="forward" type="xs:float" use="required" />
        <xs:attribute name="reverse" type="xs:float" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QVs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Quartiles" type="Quartiles" />
    </xs:sequence>
    <xs:attribute name="minimum" type="xs:float" use="required" />
    <xs:attribute name="maximum" type="xs:float" use="required" />
    <xs:attribute name="average" type="xs:float" use="required" />
    <xs:attribute name="median" type="xs:float" use="required" />
    <xs:attribute name="sd" type="xs:float" use="required" />
    <xs:attribute name="forwardMedianQv" type="xs:float" use="required" />
    <xs:attribute name="reverseMedianQv" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="Quartiles">
    <xs:attribute name="firstQuartile" type="xs:float" use="required" />
    <xs:attribute name="secondQuartile" type="xs:float" use="required" />
    <xs:attribute name="thirdQuartile" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="NoiseQMs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TotalNoiseLevel" type="NoiseLevelQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="NoiseLevelAtHomozygotes" type="NoiseLevelQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="NoiseLevelAtHeterozygotes" type="NoiseLevelQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecondBaseStatisticsAtHeterozygotes" type="NoiseLevelQMs" />
    </xs:sequence>
    <xs:attribute name="minimumHeterozygousVsMaxTotalNoise" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="NoiseLevelQMs">
    <xs:complexContent mixed="false">
      <xs:extension base="StandardStatistics" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StandardStatistics">
    <xs:attribute name="minimum" type="xs:float" use="required" />
    <xs:attribute name="maximum" type="xs:float" use="required" />
    <xs:attribute name="average" type="xs:float" use="required" />
    <xs:attribute name="median" type="xs:float" use="required" />
    <xs:attribute name="sd" type="xs:float" use="required" />
    <xs:attribute name="count" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="HeterozygosityIndexPerctQMs">
    <xs:complexContent mixed="false">
      <xs:extension base="StandardStatistics" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnalysisQualityMetrics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Aligning" type="AligningQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phasing" type="PhasingQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnalysisReadDepth" type="ReadDepthQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnalysisReadCoverage" type="ReadCoverageQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnalysisQVs" type="QVs" />
    </xs:sequence>
    <xs:attribute name="heterozygousPosnsCount" type="xs:int" use="required" />
    <xs:attribute name="homozygousPosnsCount" type="xs:int" use="required" />
    <xs:attribute name="ignoredPosnsCount" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="AligningQMs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InsertSizeDistributionAccepted" type="InsertSizeStatistics" />
      <xs:element minOccurs="0" maxOccurs="1" name="InsertSizeDistributionRejected" type="InsertSizeStatistics" />
    </xs:sequence>
    <xs:attribute name="indelsCount" type="xs:int" use="required" />
    <xs:attribute name="isIllumina" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="InsertSizeStatistics">
    <xs:attribute name="minimum" type="xs:int" use="required" />
    <xs:attribute name="maximum" type="xs:int" use="required" />
    <xs:attribute name="average" type="xs:int" use="required" />
    <xs:attribute name="median" type="xs:int" use="required" />
    <xs:attribute name="sd" type="xs:float" use="required" />
    <xs:attribute name="avgInsertSizeReadLengthRatio" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="PhasingQMs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="QuestionMarkPositions" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HeterozygosityIndex" type="HeterozygosityIndexPerctQMs" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocusTotal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ReadLength" type="ReadLengthQMs" />
      <xs:element minOccurs="0" maxOccurs="1" name="Analysis" type="AnalysisQualityMetricsTotal" />
    </xs:sequence>
    <xs:attribute name="start" type="xs:int" use="required" />
    <xs:attribute name="end" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ReadLengthQMs">
    <xs:attribute name="minimum" type="xs:int" use="required" />
    <xs:attribute name="maximum" type="xs:int" use="required" />
    <xs:attribute name="average" type="xs:int" use="required" />
    <xs:attribute name="median" type="xs:int" use="required" />
    <xs:attribute name="sd" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="AnalysisQualityMetricsTotal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Aligning" type="AligningQMsTotal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phasing" type="PhasingQMsTotal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Typing" type="TypingQMs" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AligningQMsTotal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InsertSizeDistributionAllReads" type="InsertSizeStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhasingQMsTotal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhasingDistances" type="PhasingDistances" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhasingPositionsLeastScores" type="ArrayOfLinkagePositionQMs" />
    </xs:sequence>
    <xs:attribute name="phasedRegionsCount" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="PhasingDistances">
    <xs:attribute name="phasedMaxDistance" type="xs:int" use="required" />
    <xs:attribute name="nonPhasedMinDistance" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfLinkagePositionQMs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkagePositions" nillable="true" type="LinkagePositionQMs" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LinkagePositionQMs">
    <xs:attribute name="imgtLeftIndex" type="xs:string" />
    <xs:attribute name="imgtRightIndex" type="xs:string" />
    <xs:attribute name="region" type="xs:string" />
    <xs:attribute name="isPhased" type="xs:string" />
    <xs:attribute name="phiScore" type="xs:double" use="required" />
    <xs:attribute name="countTotal" type="xs:int" use="required" />
    <xs:attribute name="countHaplotype0" type="xs:int" use="required" />
    <xs:attribute name="countHaploLeft0Right1" type="xs:int" use="required" />
    <xs:attribute name="countHaploLeft1Right0" type="xs:int" use="required" />
    <xs:attribute name="countHaplotype1" type="xs:int" use="required" />
    <xs:attribute name="countHaploNoise" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="TypingQMs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MismatchPositions" type="ArrayOfMismatchQMs" />
    </xs:sequence>
    <xs:attribute name="exonMismatchCount" type="xs:unsignedInt" use="required" />
    <xs:attribute name="intronMismatchCount" type="xs:unsignedInt" use="required" />
    <xs:attribute name="priorityMismatchCount" type="xs:unsignedInt" use="required" />
    <xs:attribute name="nonPriorityMismatchCount" type="xs:unsignedInt" use="required" />
    <xs:attribute name="bestMatchingGenotypesCount" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfMismatchQMs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MismatchPosition" nillable="true" type="MismatchQMs" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MismatchQMs">
    <xs:attribute name="imgtIndex" type="xs:string" />
    <xs:attribute name="region" type="xs:string" />
    <xs:attribute name="isExtrapolated" type="xs:string" />
    <xs:attribute name="count" type="xs:unsignedInt" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountWithAnalyzed">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="Analyzed" type="xs:int" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfSampleXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sample" nillable="true" type="SampleXml" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>